<article class="all-perks">
<h1>WE FOUND PERKS AROUND YOU!! </h1>
<% if near_me.empty? %>
  <h4>Sorry! There are no perks available near you. Below are all perks you can avail.</h4>
<%else%>

    <% near_me[0..5].each do |perk| %>
          <div  class="perks-list">
            <div class="panel panel-primary" id="loc-perk<%=perk.id %>"
              <div class='panel-body'>
                <a href="/perks/<%= perk.id%>">
                  <%= perk.title %>
                </a>
              </div>
                  <%= perk.discount %> % off <br>
                  <%=perk.city %>,
                  <%= perk.state%>
                  <div class='panel' style='border: none;'>
                    <% if @errors %>
                    <h3><%= @errors %></h3>
                    <% end %>
                  </div>
                 <div class='panel-footer'>
                     <% if current_user %>
                        <% unless @user.perks.include?(perk) %>
                           <%= render partial: '/favourites/favourite_button', locals: {perk: perk} %>
                        <% else %>
                          <%= render partial: '/favourites/unfavourite_button', locals: {perk: perk } %>
                        <% end %>
                     <% end %>
                     <% if is_admin? %>
                        <%= link_to 'Edit', edit_perk_path(perk) %>
                        <%= link_to 'Destroy', perk, method: :delete, data: { confirm: 'Are you sure?' } %>
                     <% end %>
                 </div>
             </div>
          </div>
          <% end %>
<%end%>
<% if near_me.empty? == false%>
 <h1>ALL PERKS</h1>
 <% end %>
    <% @perks.each do |perk| %>
        <% if @user.zipcode != perk.zipcode %>
            <div class="perks-list">
              <div class="panel panel-primary" id="all-perk<%=perk.id%>"
                <div class='panel-body'>
                  <a href="/perks/<%= perk.id%>">
                    <%= perk.title %>
                  </a>
                </div>
                    <%= perk.discount %> % <br>
                    <%=perk.city %>,
                    <%= perk.state%>
                    <div class='panel' style='border: none;'>
                      <% if @errors %>
                        <h3><%= @errors %></h3>
                      <% end %>
                    </div>
                <div class='panel-footer'>
                     <% if current_user %>
                        <% unless @user.perks.include?(perk) %>
                           <%= render partial: '/favourites/favourite_button', locals: {perk: perk} %>
                        <% else %>
                          <%= render partial: '/favourites/unfavourite_button', locals: {perk: perk } %>
                        <% end %>
                     <% end %>

                    <% if is_admin? %>
                        <%= link_to 'Edit', edit_perk_path(perk) %>
                        <%= link_to 'Destroy', perk, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  <br>
  <br>
  <button class ="btn-lg" id="new_perk">
    <%= link_to 'Add Perk', new_perk_path(@perks) %>
  </button>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @perks %>
    </div>
    <%= will_paginate @perks, :container => false %>
    <%= will_paginate @perks, :page_links => false %>
</div>
</article>