<h1><%= @perk.title.upcase %></h1>
<h4>Perk Details </h4>
<div class="contain">
<% if @brand != nil || @perk != nil %>
  Perk title: <%= @perk.title %><br>
  Brand: <%= @brand.brand_name %><br>
  Discount: <%= @perk.discount %> %<br>
  Location:
  <%= @perk.city %>,
  <%= @perk.state %><br>

<% else %>
  Sorry No Perks Here! Try again some other time.
<% end %>
</div>

 <div class='text-center'>
  <div class='panel' style='border: none;'>
    <% if @errors %>
      <h3><%= @errors %></h3>
    <% end %>
  </div>
<div class='panel panel-primary perk single' id='perk<%=@perk.id%>'>

<!--  -->

<% if is_admin? %>
  <%= link_to 'Edit', edit_perk_path(@perk) %> |
<% end %>
  <%= link_to 'Back', perks_path %>