<div class="container">
<% if user_signed_in? %>
    <h1>hello, <%= @user.username %>!</h1>
    <h4>Your current favourite perks:</h4>
<%end%>
<div id="columns" data-columns='1'>
  <% @perks.each do |perk| %>
    <div class='panel panel-primary perks-list '>
      <div class='panel-body'>
        <a href = '/perks/<%=perk.id%>'><%=perk.title %></a><br>
        Discount: <%=perk.discount %><br>
        Location:<br>
        <%=perk.city%>,
        <%=perk.state%>
      </div>
    </div>
  <%end%>
</div>

<%= link_to 'Back', perks_path %>
</div>