<%= form_tag favourites_path, :class => 'perk', :id => 'heart' do %>
  <%= hidden_field_tag 'perk_id', perk.id %>
  <%= button_tag(type: 'submit', class:'icon') do %>
    <i class='fa fa-heart-o'></i>
  <% end %>
  <label class='heart-count perk<%=perk.id%>'><%= perk.favourite_count %></label>
<% end %>