<div class = 'heart-buttons'>
  <% if user_signed_in? %>

  <form method='post' action='/favourites' id='heart' <%if (perk.favourites.find_by(user_id: current_user.id))%>class='hidden'<%end%>>
    <input type='hidden' name='favourite[user_id]' value='<%=current_user.id%>'>
    <input type='hidden' name='favourite[perk_id]' value='<%=perk.id%>'>
    <label class='favourite-count perk<%=perk.id%>'><%= perk.favourite_count %></label>
    <button type='submit' class='icon'><i class='fa fa-heart-o'></i></button>
  </form>

  <form method='post' action='/favourites' id='unheart' <%if !(perk.favourites.find_by(user_id: current_user.id))%>class='hidden'<%end%>>
    <input type='hidden' name='_method' value='delete'>
    <input type='hidden' name='user_id' value='<%=current_user.id%>'>
    <input type='hidden' name='perk_id' value='<%=perk.id%>'>
    <label class='favourite-count perk<%=perk.id%>'><%= perk.favourite_count %></label>
    <button type='submit' class='icon'><i class='fa fa-heart'></i></button>
  </form>
  <% else %>
  <label class='favourite-count perk<%=perk.id%>'><%= perk.favourite_count %></label><i class='fa fa-heart-o login'></i>
  <div class='login-prompt' style='display: none;'>please <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> or <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> to favourite.</div>
  <%end%>
</div>
