<!-- all brands -->
<h1>LISTING BRANDS</h1>
    <% @brands.each do |brand| %>
      <div class="panel panel-primary contain" id="brand<%=brand.id %>"
        <div class="panel-body">
          <a href="/brands/<%=brand.id %>"><%= brand.brand_name %></a>
            <div class = "panel-footer">
              <% if is_admin? %>
                <%= link_to 'Edit', edit_brand_path(brand) %>
                <%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @brands %>
    </div>
      <%= will_paginate @brands, :container => false %>
      <%= will_paginate @brands, :page_links => false %>
</div>

<br>
<% if is_admin? %>
  <%= link_to 'New Brand', new_brand_path %>
<% end %>
<%= link_to 'Back', perks_path %>