<div class="container">
    Brand : <%=  @brand.brand_name %><br>

    <% if @perk != nil %>
      Perk : <%= @perk.title %><br>
      Discount : <%= @perk.discount %><br>
    <% else %>
      Sorry No Perks Here! Try again some other time.
    <% end %>
    <% if is_admin? %>
      <%= link_to 'Edit', edit_brand_path(@brand) %> |
    <% end %>
      <%= link_to 'Back', brands_path %>
</div>