<h1>Listing Categories</h1>
    <% @categories.each do |category| %>
      <div class="panel panel-primary contain" id="category<%=category.id %>"
        <div class="panel-body">
          <a href="/categories/<%=category.id %>"><%= category.cat_name %></a>

        <div class = "panel-footer">
          <% if is_admin? %>
            <%= link_to 'Edit', edit_category_path(category) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
<br>
<% if is_admin? %>
  <%= link_to 'New Category', new_category_path %>
<% end %>